<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		FriendShip Mapper
	</comment>

	<entry key="selectListCount">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE=1
	</entry>

	<entry key="selectList">
		SELECT MEM_NO1, MEM_NO2, M2.NICKNAME NICKNAME
		FROM FOLLOW F
		JOIN MEMBER M1 ON F.MEM_NO1 = M1.MEM_NO
		JOIN MEMBER M2 ON F.MEM_NO2 = M2.MEM_NO
		WHERE M1.MEM_NO = ?
	</entry>

	<entry key="selectCategoryList">
		SELECT * FROM CATEGORY
	</entry>

	<entry key="insertBoard">
		INSERT INTO BOARD(BOARD_NO, BOARD_TYPE, CATEGORY_NO,
		BOARD_TITLE,
		BOARD_CONTENT, BOARD_WRITER )
		VALUES(SEQ_BNO.NEXTVAL, 1,?,?,?,?)
	</entry>
	
	<entry key = "insertAttachment">
	
		INSERT INTO ATTACHMENT (FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH)
						VALUES(SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, ?,?,?)
		
	</entry>
	
	<entry key="increaseCount">
	UPDATE BOARD
	SET COUNT = COUNT +1
		WHERE BOARD_NO = ?
		AND STATUS='Y'
		
	</entry>
	
	<entry key="selectBoard">
		SELECT BOARD_NO, CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, USER_ID, CREATE_DATE
		FROM BOARD
		LEFT JOIN CATEGORY USING(CATEGORY_NO)
		JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		WHERE BOARD_NO =?
		AND BOARD.STATUS ='Y'
	</entry>
	
	<entry key = "selectAttachment">
	SELECT FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
	FROM ATTACHMENT
	WHERE REF_BNO=?
	</entry>
	
	<entry key = "updateBoard"	>
		
		UPDATE BOARD
		SET CATEGORY_NO =?,
		BOARD_TITLE=?,
		BOARD_CONTENT =?
		WHERE BOARD_NO = ?
		
	</entry>
	
	<entry key = "updateAttachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME= ?,
		CHANGE_NAME = ?,
		FILE_PATH=?,
		UPLOAD_DATE =SYSDATE
		WHERE FILE_NO?
	</entry>
	
	<entry key ="insertNewAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH)
		VALUES(SEQ_FNO.NEXTVAL, ?,?,?,?)
	</entry>
	
	<entry key="insertThumbnailBoard">
	INSERT
          INTO
              BOARD
              (
              BOARD_NO,
              BOARD_TYPE,
              BOARD_TITLE,
              BOARD_CONTENT,
              BOARD_WRITER
              )
         VALUES         
              (
              SEQ_BNO.NEXTVAL,
              2,
              ?,
              ?,
              ?
              )
	</entry>
	
	<entry key = "insertAttachmentList">
		INSERT INTO ATTACHMENT( FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES (SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL,?,?,?,?)
	</entry>
	
	<entry key="selectThumbnailList">
		SELECT BOARD_NO,BOARD_TITLE,COUNT, FILE_PATH||'/'||CHANGE_NAME TITLE_IMG
		FROM BOARD
		JOIN ATTACHMENT ON(BOARD_NO = REF_BNO)
		WHERE BOARD_TYPE =2 AND FILE_LEVEL =1
		AND BOARD.STATUS = 'Y'
		ORDER BY BOARD_NO DESC
		
		
	</entry>
	
	<entry key = "insertReply">
	INSERT INTO REPLY ( REPLY_NO, REPLY_CONTENT, REF_BNO, REPLY_WRITER)
	VALUES(SEQ_RNO.NEXTVAL,?,?,?)
	</entry>
	
	<entry key = "selectReplyList">
		SELECT REPLY_NO, REPLY_CONTENT, USER_ID, TO_CHAR(CREATE_DATE,'YY/MM/NDD HH:MI:SS') CREATE_DATE
		FROM REPLY
		JOIN MEMBER ON(REPLY_WRITER = USER_NO)
		WHERE REF_BNO=?
		AND REPLY.STATUS ='Y'
		ORDER BY CREATE_DATE DESC
	</entry>
</properties>
