<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		city Mapper
	</comment>

	<entry key="countCity">
	SELECT
		  COUNT(*) COUNT
	  FROM
	  	  TB_CITY
	</entry>
	
	<entry key="cityList">
	SELECT
     	  CITY_NO,
     	  CITY_NAME,
     	  NATION_NO,
    	  NATION_NAME,
    	  COUNT
	  FROM 
	  	  (SELECT
    		  	 CITY_NO,
   				 CITY_NAME,
    			 TB_CITY.NATION_NO,
    			 NATION_NAME,
    			 COUNT
 			 FROM
    			 TB_CITY
 			 JOIN
    			 TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
             WHERE
                 NOT TB_NATION.NATION_NO = 82
			ORDER 
			   BY 
			   	 COUNT DESC)
	  WHERE 
	  		ROWNUM BETWEEN 1 AND 8
	  		
	</entry>
	
	
	<entry key="increaseCity">
	UPDATE
     	  TB_CITY
   	   SET
      	  COUNT = COUNT + 1
	 WHERE
     	  CITY_NO = ?
	</entry>
	
	
	<entry key="nationCity">
	SELECT 
	      CITY_NO,
	      CITY_NAME,
	      CITY_CONTENT
	  FROM
	      TB_CITY
	 WHERE
	      NATION_NO = ?
     ORDER
     	BY
     	  CITY_NAME ASC
	</entry>
	
	
	<entry key="selectCity">
	SELECT
	     CITY_NO,
	     CITY_NAME,
	     CITY_CONTENT,
	     TB_CITY.NATION_NO NATION_NO,
	     NATION_NAME,
	     FLYING_TIME
	 FROM
	     TB_CITY
	 JOIN
	     TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
	WHERE
	     CITY_NO = ?
	</entry>
	
	
	<entry key="searchCity">
	  SELECT
		    CITY_NO,
		    CITY_NAME,
		    CITY_CONTENT,
		    NATION_NAME,
		    FLYING_TIME,
		    VISA_NAME
		FROM
		    TB_CITY
		JOIN
		    TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
		JOIN
		    BRTB_VISA ON (BRTB_VISA.NATION_NO = TB_NATION.NATION_NO)
		JOIN
		    TB_VISA ON (BRTB_VISA.VISA_NO = TB_VISA.VISA_NO)
		WHERE
		    CITY_NAME = ?
	</entry>


	<entry key="allCityList">
	SELECT
		  NATION_NO,
	      NATION_NAME,
	      CITY_NO,
	      CITY_NAME,
	      COUNT
	FROM
		    (SELECT
		         ROWNUM RNUM,
		         NATION_NO,
		         NATION_NAME,
		         CITY_NO,
		         CITY_NAME,
		         COUNT
		     FROM
			        (SELECT
			        	 TB_CITY.NATION_NO NATION_NO,
			             NATION_NAME,
			             CITY_NO,
			             CITY_NAME,
			             COUNT
			         FROM
			             TB_CITY
			         JOIN
			             TB_NATION ON (TB_CITY.NATION_NO = TB_NATION.NATION_NO)
			        ORDER
			           BY
			             TB_NATION.NATION_NO ASC))
	 WHERE
	     RNUM BETWEEN ? AND ?
	
	</entry>

	
	<entry key="selectTitlePhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 9
	   AND
	      BOARD_NO = ?
	</entry>
	
		<entry key="selectPhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 2
	   AND
	      BOARD_NO = ?
	</entry>
	
	<entry key="insertTitlePhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     9     
		     )
	</entry>
	
	<entry key="insertPhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     2     
		     )
	</entry>
	
	<entry key="updateTitlePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 9
	  AND
	     BOARD_NO = ?
	</entry>
	
	<entry key="updatePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 2
	  AND
	     BOARD_NO = ?
	</entry>
	
	<entry key="updateCity">
	UPDATE
	     TB_CITY
	  SET
	     CITY_NAME = ?,
	     CITY_CONTENT = ?,
	     NATION_NO = ?,
	     FLYING_TIME = ?
	WHERE
	     CITY_NO = ?
	</entry>
	
	<entry key="updatePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 2
	  AND
	     BOARD_NO = ?
	</entry>
	

	<entry key="insertPhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     2    
		     )
	</entry>


	
</properties>