<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		info Mapper
	</comment>
	
	<entry key="cityList">
	
	SELECT
     	  CITY_NO,
     	  CITY_NAME,
     	  NATION_NO,
    	  NATION_NAME,
    	  COUNT
	  FROM 
	  	  (SELECT
    		  	 CITY_NO,
   				 CITY_NAME,
    			 TB_CITY.NATION_NO,
    			 NATION_NAME,
    			 COUNT
 			 FROM
    			 TB_CITY
 			 JOIN
    			 TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
             WHERE
                 NOT TB_NATION.NATION_NO = 82
			ORDER 
			   BY 
			   	 COUNT DESC)
	  WHERE 
	  		ROWNUM BETWEEN 1 AND 8
	</entry>
	
	<entry key="searchNation">
	SELECT
    	   NATION_NAME,
    	   NATION_CONTENT
	  FROM
  	 	   TB_NATION
	 WHERE
    	   TB_NATION.NATION_NO = ?
    	   
	</entry>
	
	<entry key="increaseCity">
	UPDATE
     	  TB_CITY
   	   SET
      	  COUNT = COUNT + 1
	 WHERE
     	  NATION_NO = ?
  	   AND
     	  CITY_NAME = ?
	</entry>
	
	
	<entry key="nationCity">
	SELECT 
	      CITY_NO,
	      CITY_NAME,
	      CITY_CONTENT
	  FROM
	      TB_CITY
	 WHERE
	      NATION_NO = ?
	</entry>
	
	<entry key="searchCity">
	  SELECT
		    CITY_NO,
		    CITY_NAME,
		    CITY_CONTENT,
		    NATION_NAME,
		    FLYING_TIME,
		    VISA_NAME
		FROM
		    TB_CITY
		JOIN
		    TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
		JOIN
		    BRTB_VISA ON (BRTB_VISA.NATION_NO = TB_NATION.NATION_NO)
		JOIN
		    TB_VISA ON (BRTB_VISA.VISA_NO = TB_VISA.VISA_NO)
		WHERE
		    CITY_NAME = ?
	</entry>
	
	<entry key="searchLang">
	SELECT
     	   LANGUAGE_NAME
 	  FROM
    	   TB_LANGUAGE
  	  JOIN
      	   BRTB_LANG ON (TB_LANGUAGE.LANGUAGE_NO = BRTB_LANG.LANGUAGE_NO)
  	  JOIN
      	   TB_NATION ON (BRTB_LANG.NATION_NO = TB_NATION.NATION_NO)
 	  WHERE
      	   TB_NATION.NATION_NO = ?
	</entry>
	
	<entry key="searchVol">
	
		SELECT
	   		  VOL_NAME
	  	  FROM
	     	  TB_VOLTAGE
	  	  JOIN
	      	  BRTB_VOL ON (TB_VOLTAGE.VOL_NO = BRTB_VOL.VOL_NO)
	  	  JOIN
	      	  TB_NATION ON (BRTB_VOL.NATION_NO = TB_NATION.NATION_NO)
	 	 WHERE
	      	  TB_NATION.NATION_NO = ?
	</entry>
	
	<entry key="searchCur">
	SELECT
	      CURRENCY_NAME
	  FROM
	      TB_CURRENCY
	  JOIN
	      BRTB_CURRENCY ON (BRTB_CURRENCY.CURRENCY_NO = TB_CURRENCY.CURRENCY_NO)
	  JOIN
	      TB_NATION ON (BRTB_CURRENCY.NATION_NO = TB_NATION.NATION_NO)
	 WHERE
	      TB_NATION.NATION_NO = ?
	</entry>
	
	<entry key="countStory">
	SELECT
	      COUNT(*) COUNT
	 FROM
	      TB_STORY
	WHERE
	      STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
	SELECT
		 STORY_NO,
	     STORY_TITLE,
	     TO_CHAR(STORY_DATE, 'YYYY/MM/DD') CREATE_DATE
	  FROM
	    TB_STORY
	 WHERE
	    STATUS = 'Y'
     ORDER
        BY
          STORY_DATE DESC
	</entry>
	
	
</properties>