<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		info Mapper
	</comment>
	
	<entry key="nationList">
	  SELECT
		      NATION_NO,
		      NATION_NAME,
		      NATION_CONTENT
	    FROM
	        (SELECT
	             ROWNUM,
	             NATION_NO,
	             NATION_NAME,
	             NATION_CONTENT
	        FROM
	            (SELECT
	                  NATION_NO,
	                  NATION_NAME,
	                  NATION_CONTENT
	             FROM
	                 TB_NATION
	            WHERE
	                 NOT TB_NATION.NATION_NO = 82
	            ORDER
	               BY
	                 NATION_NO) A )
	    WHERE
	         ROWNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countNation">
	SELECT
		 COUNT(*) COUNT
	  FROM
	  	 TB_NATION
  	 WHERE
  	 	 NOT TB_NATION.NATION_NO = 82
	</entry>
	
	<entry key="countCity">
	SELECT
		  COUNT(*) COUNT
	  FROM
	  	  TB_CITY
	</entry>
	
	<entry key="cityList">
	
	SELECT
     	  CITY_NO,
     	  CITY_NAME,
     	  NATION_NO,
    	  NATION_NAME,
    	  COUNT
	  FROM 
	  	  (SELECT
    		  	 CITY_NO,
   				 CITY_NAME,
    			 TB_CITY.NATION_NO,
    			 NATION_NAME,
    			 COUNT
 			 FROM
    			 TB_CITY
 			 JOIN
    			 TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
             WHERE
                 NOT TB_NATION.NATION_NO = 82
			ORDER 
			   BY 
			   	 COUNT DESC)
	  WHERE 
	  		ROWNUM BETWEEN 1 AND 8
	</entry>
	
	<entry key="searchNation">
	SELECT
		   TB_NATION.NATION_NO NATION_NO,
    	   NATION_NAME,
    	   NATION_CONTENT,
           VISA_NAME
	  FROM
  	 	   TB_NATION
      JOIN
           BRTB_VISA ON (TB_NATION.NATION_NO = BRTB_VISA.NATION_NO)
      JOIN
           TB_VISA ON (BRTB_VISA.VISA_NO = TB_VISA.VISA_NO)
	 WHERE
    	   TB_NATION.NATION_NO = ?
    	   
	</entry>
	
	<entry key="increaseCity">
	UPDATE
     	  TB_CITY
   	   SET
      	  COUNT = COUNT + 1
	 WHERE
     	  NATION_NO = ?
  	   AND
     	  CITY_NAME = ?
	</entry>
	
	
	<entry key="nationCity">
	SELECT 
	      CITY_NO,
	      CITY_NAME,
	      CITY_CONTENT
	  FROM
	      TB_CITY
	 WHERE
	      NATION_NO = ?
	</entry>
	
	<entry key="searchCity">
	  SELECT
		    CITY_NO,
		    CITY_NAME,
		    CITY_CONTENT,
		    NATION_NAME,
		    FLYING_TIME,
		    VISA_NAME
		FROM
		    TB_CITY
		JOIN
		    TB_NATION ON(TB_CITY.NATION_NO = TB_NATION.NATION_NO)
		JOIN
		    BRTB_VISA ON (BRTB_VISA.NATION_NO = TB_NATION.NATION_NO)
		JOIN
		    TB_VISA ON (BRTB_VISA.VISA_NO = TB_VISA.VISA_NO)
		WHERE
		    CITY_NAME = ?
	</entry>
	
	<entry key="searchLang">
	SELECT
     	   LANGUAGE_NAME
 	  FROM
    	   TB_LANGUAGE
  	  JOIN
      	   BRTB_LANG ON (TB_LANGUAGE.LANGUAGE_NO = BRTB_LANG.LANGUAGE_NO)
  	  JOIN
      	   TB_NATION ON (BRTB_LANG.NATION_NO = TB_NATION.NATION_NO)
 	  WHERE
      	   TB_NATION.NATION_NO = ?
	</entry>
	
	<entry key="searchVol">
	
		SELECT
	   		  VOL_NAME
	  	  FROM
	     	  TB_VOLTAGE
	  	  JOIN
	      	  BRTB_VOL ON (TB_VOLTAGE.VOL_NO = BRTB_VOL.VOL_NO)
	  	  JOIN
	      	  TB_NATION ON (BRTB_VOL.NATION_NO = TB_NATION.NATION_NO)
	 	 WHERE
	      	  TB_NATION.NATION_NO = ?
	</entry>
	
	<entry key="searchCur">
	SELECT
	      CURRENCY_NAME
	  FROM
	      TB_CURRENCY
	  JOIN
	      BRTB_CURRENCY ON (BRTB_CURRENCY.CURRENCY_NO = TB_CURRENCY.CURRENCY_NO)
	  JOIN
	      TB_NATION ON (BRTB_CURRENCY.NATION_NO = TB_NATION.NATION_NO)
	 WHERE
	      TB_NATION.NATION_NO = ?
	</entry>
	
	<entry key="countStory">
	SELECT
	      COUNT(*) COUNT
	 FROM
	      TB_STORY
	WHERE
	      STATUS = 'Y'
	</entry>
	
	<entry key="storyList">
	SELECT
		STORY_NO,
		STORY_TITLE,
		CREATE_DATE
	FROM
		(SELECT 
			S.STORY_NO STORY_NO,
			S.STORY_TITLE STORY_TITLE,
			S.CREATE_DATE CREATE_DATE,
			ROWNUM RNUM
		FROM
			(SELECT
				 STORY_NO,
			     STORY_TITLE,
			     TO_CHAR(STORY_DATE, 'YYYY/MM/DD') CREATE_DATE
			  FROM
			    TB_STORY
			 WHERE
			    STATUS = 'Y'
		     ORDER
		        BY
		          STORY_NO DESC) S)
     WHERE
     	 RNUM BETWEEN ? AND ?
	</entry>

	<entry key="detailStory">
	
	SELECT
		 STORY_NO,
		 STORY_TITLE,
		 STORY_CN,
		 TO_CHAR(STORY_DATE, 'YYYY/MM/DD') STORY_DATE,
		 STORY_FROM
	 FROM
	 	 TB_STORY
 	WHERE
 		 STORY_NO = ?
	  AND
	  	 STATUS = 'Y'
	
	</entry>
	
	<entry key="allCityList">
	SELECT
		  NATION_NO,
	      NATION_NAME,
	      CITY_NO,
	      CITY_NAME,
	      COUNT
	FROM
		    (SELECT
		         ROWNUM,
		         NATION_NO,
		         NATION_NAME,
		         CITY_NO,
		         CITY_NAME,
		         COUNT
		     FROM
			        (SELECT
			        	 TB_CITY.NATION_NO NATION_NO,
			             NATION_NAME,
			             CITY_NO,
			             CITY_NAME,
			             COUNT
			         FROM
			             TB_CITY
			         JOIN
			             TB_NATION ON (TB_CITY.NATION_NO = TB_NATION.NATION_NO)
			        ORDER
			           BY
			             TB_NATION.NATION_NO ASC))
	 WHERE
	     ROWNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="updateNation">
	
	UPDATE
	     TB_NATION
	  SET
	     NATION_NAME = ?,
	     NATION_CONTENT = ?
	WHERE
	     NATION_NO = ?
	</entry>
	
	<entry key="selectTitlePhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 9
	   AND
	      BOARD_NO = ?
	</entry>
	
		<entry key="selectPhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 1
	   AND
	      BOARD_NO = ?
	</entry>
	
	<entry key="insertTitlePhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     9     
		     );
	</entry>
	
	<entry key="insertPhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     1     
		     );
	</entry>
	
	<entry key="updateTitlePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 9
	  AND
	     BOARD_NO = ?
	</entry>
	
	<entry key="updatePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 1
	  AND
	     BOARD_NO = ?
	</entry>

	
</properties>