<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		nation Mapper
	</comment>
	
	<entry key="nationList">
	  SELECT
		      NATION_NO,
		      NATION_NAME,
		      NATION_CONTENT
	    FROM
	        (SELECT
	             ROWNUM,
	             NATION_NO,
	             NATION_NAME,
	             NATION_CONTENT
	        FROM
	            (SELECT
	                  NATION_NO,
	                  NATION_NAME,
	                  NATION_CONTENT
	             FROM
	                 TB_NATION
	            WHERE
	                 NOT TB_NATION.NATION_NO = 82
	            ORDER
	               BY
	                 NATION_NO) A )
	    WHERE
	         ROWNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="allNationList">
	SELECT
	     NATION_NO,
	     NATION_NAME
	 FROM
	     TB_NATION
	</entry>
	
	<entry key="countNation">
	SELECT
		 COUNT(*) COUNT
	  FROM
	  	 TB_NATION
  	 WHERE
  	 	 NOT TB_NATION.NATION_NO = 82
	</entry>

	<entry key="searchNation">
	SELECT
		   TB_NATION.NATION_NO NATION_NO,
    	   NATION_NAME,
    	   NATION_CONTENT,
           VISA_NAME
	  FROM
  	 	   TB_NATION
      JOIN
           BRTB_VISA ON (TB_NATION.NATION_NO = BRTB_VISA.NATION_NO)
      JOIN
           TB_VISA ON (BRTB_VISA.VISA_NO = TB_VISA.VISA_NO)
	 WHERE
    	   TB_NATION.NATION_NO = ?
    	   
	</entry>

	<entry key="nationCity">
	SELECT 
	      CITY_NO,
	      CITY_NAME,
	      CITY_CONTENT
	  FROM
	      TB_CITY
	 WHERE
	      NATION_NO = ?
	</entry>

	<entry key="updateNation">
	
	UPDATE
	     TB_NATION
	  SET
	     NATION_NAME = ?,
	     NATION_CONTENT = ?
	WHERE
	     NATION_NO = ?
	</entry>
	
	<entry key="selectTitlePhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 9
	   AND
	      BOARD_NO = ?
	</entry>
	
		<entry key="selectPhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 1
	   AND
	      BOARD_NO = ?
	</entry>
	
	<entry key="insertTitlePhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     9     
		     )
	</entry>
	
	<entry key="insertPhoto">
		INSERT 
		  INTO
		      TB_FILE
		      (
		      FILE_NO,
		      BOARD_NO,
		      FILE_PATH,
		      ORIGIN_NAME,
		      CHANGE_NAME,
		      BOARD_TYPE
		      )
		VALUES
		     (
		     SEQ_FILE.NEXTVAL,
		     ?,
		     ?,
		     ?,
		     ?,
		     1     
		     )
	</entry>
	
	<entry key="updateTitlePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 9
	  AND
	     BOARD_NO = ?
	</entry>
	
	<entry key="updatePhoto">
	UPDATE
	     TB_FILE
	  SET
	     FILE_PATH = ?,
	     ORIGIN_NAME = ?,
	     CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = 1
	  AND
	     BOARD_NO = ?
	</entry>

	
</properties>