<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		story Mapper
	</comment>

	<entry key="countStory">
	SELECT
	      COUNT(*) COUNT
	 FROM
	      TB_STORY
	WHERE
	      STATUS = 'Y'
	</entry>
	
	<entry key="storyList">
SELECT
     STORY_NO,
     STORY_TITLE,
     STORY_DATE,
     FILE_PATH,
     CHANGE_NAME
 FROM
    VW_STORY_LIST
WHERE
    RNUM BETWEEN ? AND ?
	</entry>

	<entry key="detailStory">
	
	SELECT
	    STORY_NO,
	    STORY_TITLE,
	    STORY_CN,
	    STORY_DATE,
	    STORY_FROM,
	    FILE_PATH,
	    CHANGE_NAME
	FROM
	    (SELECT
	         BOARD_NO,
	         FILE_PATH,
	         CHANGE_NAME
	      FROM
	         TB_FILE
	    WHERE
	         BOARD_TYPE = 7) F
	JOIN
	    TB_STORY ON(F.BOARD_NO = TB_STORY.STORY_NO)
	WHERE
	     BOARD_NO = ?
	  AND
	  	 STATUS = 'Y'
	
	</entry>


	<entry key="selectTitlePhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 9
	   AND
	      BOARD_NO = ?
	</entry>

	<entry key="insertStory">
	INSERT
	  INTO
	     TB_STORY
	     (
	     STORY_NO,
	     STORY_TITLE,
	     STORY_CN,
	     STORY_DATE,
	     STORY_FROM
	     )
	VALUES
	    (
	    SEQ_ST.NEXTVAL,
	    ?,
	    ?,
	    SYSDATE,
	    ? 
	    )
	</entry>
	
	<entry key="insertFile">
	INSERT
	  INTO
	      TB_FILE
	      (
	      FILE_NO,
	      BOARD_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME,
	      BOARD_TYPE
	      )    
	VALUES
	     (
	     SEQ_FILE.NEXTVAL,
	     SEQ_ST.CURRVAL,
	     ?,
	     ?,
	     ?,
	     ?
	     )
	</entry>

	
</properties>