<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		story Mapper
	</comment>

	<entry key="countStory">
	SELECT
	      COUNT(*) COUNT
	 FROM
	      VW_STORY_ALL
	</entry>
	
	<entry key="countSelectTitle">
	SELECT
	     COUNT(*) COUNT
	 FROM
	    VW_STORY_ALL
	WHERE
	    STORY_TITLE LIKE '%'||?||'%'
    </entry>
    
    <entry key="countSelectContent">
    SELECT
	     COUNT(*) COUNT
	 FROM
	    VW_STORY_ALL
	WHERE
	    STORY_CN LIKE '%'||?||'%'
    </entry>
	
	<entry key="storyList">
	SELECT
	    STORY_NO,
	    STORY_TITLE,
	    STORY_DATE,
	    FILE_PATH,
	    CHANGE_NAME
	FROM
	    (SELECT
	         ROWNUM RNUM,
	         STORY_NO,
	         STORY_TITLE,
	         STORY_DATE,
	         FILE_PATH,
	         CHANGE_NAME
	     FROM
	        VW_STORY_ALL)
	WHERE
	    RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searhTitle">
	SELECT
	    STORY_NO,
	    STORY_TITLE,
	    STORY_DATE,
	    FILE_PATH,
	    CHANGE_NAME
	FROM
	    (SELECT
	        ROWNUM RNUM,
	        STORY_NO,
	        STORY_TITLE,
	        STORY_DATE,
	        FILE_PATH,
	        CHANGE_NAME
	    FROM
	        (SELECT
	            STORY_NO,
	            STORY_TITLE,
	            STORY_DATE,
	            FILE_PATH,
	            CHANGE_NAME
	        FROM
	            VW_STORY_ALL
	        WHERE
	            STORY_TITLE LIKE '%'||?||'%'))
	WHERE
	    RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchContent">
		SELECT
	    STORY_NO,
	    STORY_TITLE,
	    STORY_DATE,
	    FILE_PATH,
	    CHANGE_NAME
	FROM
	    (SELECT
	        ROWNUM RNUM,
	        STORY_NO,
	        STORY_TITLE,
	        STORY_DATE,
	        FILE_PATH,
	        CHANGE_NAME
	    FROM
	        (SELECT
	            STORY_NO,
	            STORY_TITLE,
	            STORY_DATE,
	            FILE_PATH,
	            CHANGE_NAME
	        FROM
	            VW_STORY_ALL
	        WHERE
	            STORY_CN LIKE '%'||?||'%'))
	WHERE
	    RNUM BETWEEN ? AND ?
	
	</entry>

	<entry key="detailStory">
	
	SELECT
	     FILE_NO,
	     STORY_NO,
	     STORY_TITLE,
	     STORY_CN,
	     STORY_DATE,
	     STORY_FROM,
	     FILE_PATH,
	     CHANGE_NAME
	 FROM     
	    VW_STORY_ALL
     WHERE
     	STORY_NO = ?
	
	</entry>


	<entry key="selectTitlePhoto">
	SELECT
		  BOARD_TYPE,
	      FILE_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME
	  FROM
	      TB_FILE
	 WHERE      
	      BOARD_TYPE = 9
	   AND
	      BOARD_NO = ?
	</entry>

	<entry key="insertStory">
	INSERT
	  INTO
	     TB_STORY
	     (
	     STORY_NO,
	     STORY_TITLE,
	     STORY_CN,
	     STORY_DATE,
	     STORY_FROM
	     )
	VALUES
	    (
	    SEQ_ST.NEXTVAL,
	    ?,
	    ?,
	    SYSDATE,
	    ? 
	    )
	</entry>
	
	<entry key="insertFile">
	INSERT
	  INTO
	      TB_FILE
	      (
	      FILE_NO,
	      BOARD_NO,
	      FILE_PATH,
	      ORIGIN_NAME,
	      CHANGE_NAME,
	      BOARD_TYPE
	      )    
	VALUES
	     (
	     SEQ_FILE.NEXTVAL,
	     SEQ_ST.CURRVAL,
	     ?,
	     ?,
	     ?,
	     ?
	     )
	</entry>
	
	<entry key="updateStory">
	UPDATE
	     TB_STORY
	  SET
	     STORY_TITLE = ?,
	     STORY_CN = ?,
	     STORY_DATE = SYSDATE,
	     STORY_FROM = ?
	WHERE
	     STORY_NO = ?
	
	</entry>
	
	<entry key="updateStoryFile">
	UPDATE
	       TB_FILE
	   SET
	       FILE_PATH = ?,
	       ORIGIN_NAME = ?,
	       CHANGE_NAME = ?
	WHERE
	     BOARD_TYPE = ?
	  AND
	     BOARD_NO = ?
	</entry>

	
</properties>