<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Community Mapper
	</comment>
	
	<entry key="selectcommunity">
		SELECT
				COMU_NO,
				CITY_NO,
				MEM_NO,
				COMU_CONTENT,
				COMUDATE,
		  WHERE 
				STATUS = 'Y';
				
	
		
	</entry>
	
	
	
	
</properties>
