<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Community Mapper
	</comment>
	
	<entry key="selectCommunity">
		SELECT
				COMU_NO,
				CITY_NO,
				MEM_NO,
				COMU_CONTENT,
				COMU_DATE
		    FROM
			 	COMMUNITY
	    	WHERE 
				COMMUNITY.STATUS = 'Y'
		   ORDER
		 	BY
				COMU_DATE DESC;
	</entry>
	
	
	
	
</properties>
