<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Community Mapper
	</comment>
	
	<entry key="selectCommunity">
		SELECT
				COMU_NO,
				CITY_NO,
				NICK_NAME,
				COMU_CONTENT,
				COMU_DATE
		    FROM
			 	COMMUNITY
			JOIN
		
				MENBER ON(MEM_NO = NICK_NAME)	
		
	    	WHERE 
				COMMUNITY.STATUS = 'Y'
		   ORDER
		 	BY
				COMU_DATE DESC;
	</entry>
	
	<entry key="increaseCount">
	
	
	
	
	
	
	
	</entry>
	
	<entry key="selectCommunity">
	
	
	</entry>
	
	
	<entry key="update">
	
	
	
	
	
	</entry>
	
	
	<entry key="insert">
	
	
	
	
	
	</entry>
	
	<entry key="delete">
	
	
	
	
	
	</entry>
	
	
	
</properties>
