
#sched-area{
    padding: 0 119px 20px 119px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    border-top: 2px solid darkgray;
}
#sched-box{
    width: 960px;
    >h2{ /* 예약 및 일정 */
        display: inline-block;
        font-size: 24px;
        font-weight: 600;
        margin: 12px;
    }
    > #sched-date-sum{
        color: rgb(70, 70, 70);
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 1px;
    }
    >.sched-des{
        background-color: beige;
        margin: 0 5% 10px 5%;
        height: 60px;
        width: 90%;
        line-height: 2.5;
        >span{
            display: inline-block;
            height: 100%;
        }
        >.sched-des-city{
            margin-left: 16px;
            margin-right: 10px;
            font-size: 22px;
            font-weight: 600;
        }
        >.sched-des-date{
            color: rgb(70, 70, 70);
            font-weight: 600;
        }
        >.sched-des-price{
            float: right;
            margin-top: 10px;
            color: rgb(70, 70, 70);
            >label{
                font-weight: 600;
            }
        }
        >.sched-btn-area{ /* 목적지 메인 행 버튼 */
            padding-left: 10px;
            padding-top: 7px;
            float: right;
            width: 15%;
            height: 100%;
            >button{
                visibility: hidden;
            }
            >img{
                margin-left: 12px;
                margin-right: 10px;
                width: 34px;
                height: 34px;
                
            }
            >img:hover{
                cursor: pointer;
                scale: 1.05;
            }
        }
    }
    .sched-des-detail{ /* 예약 및 일정 테이블 영역 */
        padding-top: 10px;
        height : auto; 
        overflow: auto;
        display: none;
        >table{
            width: 840px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: rgb(230, 230, 200);
            border: 1px solid darkgray;

        }
        th, td{ 
            border: 1px solid darkgray;
            line-height: 1.5;
        }
        
        
    }
}
/* 테이블 컬럼 너비 & 금액 오른쪽 정렬 */
.th1{width: 120px;}
.th2{width: 160px;}
.th3{width: 340px;}
.th4{width: 140px; text-align: right;}
.td-price{text-align: right;}

.sched-detail-btn-area{
    width: 80px;
}
.sched-detail-btn{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 3px;
    float: left;
    visibility: hidden;
}
.sched-detail-btn:hover{
    cursor: pointer;
    scale: 1.04;
}

/* 예약 및 일정 추가 입력 행 */
.sched-name{width: 136px;}
.sched-content{width:310px;}
.sched-price{
    margin-left: 8px;
    width: 90px;
    text-align: right;
}
.detail-btn-add, .detail-btn-cancel{
    width: 22px;
    height: 22px;
    margin-left: 2px;
    margin-right: 0;
    visibility: visible;
}
.detail-btn-add{margin-right: 5px;}