.toast, .toast-body{
    width: 240px;
    padding-right: 6px;

}
.toast{
    background-color: white;
    border-radius: 12px;
}
.btn-dismiss-toast{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    border: none;
    padding: 0;
    line-height: 0.6;
}
.btn-add-des{
    margin-left: 4px;
    margin-right: 8px;
}
