<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Customer Mapper
	</comment>
	
	<entry key="notice">
		SELECT
			  NOTICE_NO,
		      NOTICE_TITLE
		  FROM
		      (SELECT
		      	     NOTICE_NO,
		             NOTICE_TITLE
		         FROM
		             TB_NOTICE
		        ORDER
		           BY
		             CREATE_DATE DESC)
		 WHERE
		      ROWNUM BETWEEN 1 AND 3
	</entry>
	
	<entry key="selectCount">
		SELECT
	     	  COUNT(*) COUNT
	 	  FROM
	     	  TB_NOTICE
		 WHERE
	     	  STATUS = 'Y'
	</entry>
	
	<entry key="selectHoldCount">
		SELECT
     		  COUNT(*) COUNT
  		  FROM
      		  TB_NOTICE
 		 WHERE
      		  NOTICE_HOLD = 'Y'
      	   AND
      	      STATUS = 'Y'  
	</entry>
	
	<entry key="noticeList">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      CREATE_DATE,
		      NOTICE_HOLD,
              RNUM
 		 FROM(SELECT
		            NOTICE_NO,
		            NOTICE_TITLE,
		            CREATE_DATE,
		            NOTICE_HOLD,
                    ROWNUM RNUM
		       FROM
		       	    TB_NOTICE)    
		  WHERE
			   NOTICE_HOLD = 'Y'
		  UNION ALL
		  SELECT
                NOTICE_NO,
		        NOTICE_TITLE,
		        CREATE_DATE,
		        NOTICE_HOLD,
                ROWNUM RNUM
           FROM(SELECT
                    NOTICE_NO,
                    NOTICE_TITLE,
                    CREATE_DATE,
                    NOTICE_HOLD,
                    ROWNUM RNUM
               FROM(SELECT
                          NOTICE_NO,
                          NOTICE_TITLE,
                          CREATE_DATE,
                          NOTICE_HOLD
                     FROM
                         TB_NOTICE
                    WHERE
                         STATUS = 'Y'
                      AND
                         NOTICE_HOLD = 'N'
                    ORDER
                       BY
                         CREATE_DATE DESC))
			WHERE
		         RNUM BETWEEN ? AND ?       
	</entry>
	
	
	
</properties>
