<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Customer Mapper
	</comment>
	
	<entry key="notice">
		SELECT
			  NOTICE_NO,
		      NOTICE_TITLE
		  FROM
              TB_NOTICE
		 WHERE
		      ROWNUM BETWEEN 1 AND 3
         ORDER
		    BY
		       NOTICE_NO DESC
	</entry>
	
	<entry key="selectTitleCount">
		SELECT
		     COUNT(*) COUNT
		 FROM
		     TB_NOTICE
		WHERE    
		     NOTICE_TITLE LIKE '%' || ? || '%'
		  AND
		     STATUS = 'Y'
	
	</entry>
	
	<entry key="selectContentCount">
	
	   SELECT
		     COUNT(*) COUNT
		 FROM
		     TB_NOTICE
		WHERE    
		     NOTICE_CONTENT LIKE '%' || ? || '%'
		  AND
		     STATUS = 'Y'
	
	</entry>
	
	<entry key="selectCount">
		SELECT
	     	  COUNT(*) COUNT
	 	  FROM
	     	  TB_NOTICE
		 WHERE
	     	  STATUS = 'Y'
	</entry>
	
	
	<entry key="selectHoldCount">
		SELECT
     		  COUNT(*) COUNT
  		  FROM
      		  TB_NOTICE
 		 WHERE
      		  NOTICE_HOLD = 'Y'
      	   AND
      	      STATUS = 'Y'  
	</entry>
	
	<entry key="noticeList">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      CREATE_DATE,
		      NOTICE_HOLD
 		 FROM
             TB_NOTICE
         WHERE
              STATUS = 'Y'
		   AND
			  NOTICE_HOLD = 'Y'
		  UNION ALL
              SELECT
                    NOTICE_NO,
                    NOTICE_TITLE,
                    CREATE_DATE,
                    NOTICE_HOLD
               FROM(SELECT
                          NOTICE_NO,
                          NOTICE_TITLE,
                          CREATE_DATE,
                          NOTICE_HOLD,
                          ROWNUM RNUM
                     FROM
                         TB_NOTICE
                    WHERE
                         STATUS = 'Y'
                      AND
                         NOTICE_HOLD = 'N'
                    ORDER
                       BY
                         NOTICE_NO DESC)
			WHERE
		         RNUM BETWEEN ? AND ?    
	</entry>
	
	<entry key="noticeTitleSearch">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      CREATE_DATE,
		      NOTICE_HOLD
		FROM(SELECT
		          NOTICE_NO,
		          NOTICE_TITLE,
		          CREATE_DATE,
		          NOTICE_HOLD,
		          ROWNUM RNUM
		      FROM(SELECT
				          NOTICE_NO,
				          NOTICE_TITLE,
				          CREATE_DATE,
				          NOTICE_HOLD
				      FROM
				          TB_NOTICE
				     WHERE
				          NOTICE_TITLE LIKE '%' || ? || '%'
				       AND
				          STATUS = 'Y'
				     ORDER
				        BY 
				          NOTICE_NO DESC))
		 WHERE
		      RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="noticeContentSearch">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      CREATE_DATE,
		      NOTICE_HOLD
		FROM(SELECT
		          NOTICE_NO,
		          NOTICE_TITLE,
		          CREATE_DATE,
		          NOTICE_HOLD,
		          ROWNUM RNUM
		      FROM(SELECT
				          NOTICE_NO,
				          NOTICE_TITLE,
				          CREATE_DATE,
				          NOTICE_HOLD
				      FROM
				          TB_NOTICE
				     WHERE
				          NOTICE_CONTENT LIKE '%' || ? || '%'
				       AND
				          STATUS = 'Y'
				     ORDER
				        BY 
				          NOTICE_NO DESC))
		 WHERE
		      RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="noticeInsert">
	INSERT
	  INTO
	  	  TB_NOTICE
	  	  (
	  	  NOTICE_NO,
	  	  NOTICE_TITLE,
	  	  NOTICE_CONTENT,
	  	  NOTICE_WRITER,
	  	  NOTICE_HOLD,
	  	  CREATE_DATE,
	  	  STATUS
	  	  )
  	VALUES
  		 (
  		 SEQ_NOTI.NEXTVAL,
  		 ?,
  		 ?,
  		 ?,
  		 ?,
  		 SYSDATE,
  		 DEFAULT
  		 )
	</entry>
	
	<entry key="attInsert">
	INSERT
	  INTO
	  	 TB_FILE
	  	 (
		 FILE_NO,
		 BOARD_NO,
		 FILE_PATH,
		 ORIGIN_NAME,
		 CHANGE_NAME,
		 BOARD_TYPE
	  	 )
  	VALUES
	  	 (
	  	 SEQ_FILE.NEXTVAL,
	  	 SEQ_NOTI.CURRVAL,
	  	 ?,
	  	 ?,
	  	 ?,
	  	 4
	  	 )
	</entry>
	
	<entry key="noticeDetail">
	SELECT
	     NOTICE_NO,
	     NOTICE_TITLE,
	     NOTICE_CONTENT,
	     NOTICE_HOLD,
	     TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') CREATE_DATE
	 FROM
	     TB_NOTICE
	WHERE
	     NOTICE_NO = ?
	
	</entry>
	
	<entry key="insertQa">
		INSERT 
		  INTO 
		      TB_QNA(
		             Q_NO,
		             QA_TITLE,
		             QA_CONTENT,
		             QA_WRITER
		             )
		      VALUES     
		            (
		            SEQ_QNA.NEXTVAL,
		            ?,
		            ?,
		            ?
		            )
	</entry>
	
	<entry key="qnaInsertFile">
		INSERT
		  INTO
		      TB_FILE
		     (
			 FILE_NO,
			 BOARD_NO,
			 FILE_PATH,
			 ORIGIN_NAME,
			 CHANGE_NAME,
			 BOARD_TYPE
		  	 )
		VALUES
		      (
		      SEQ_FILE.NEXTVAL,
		      SEQ_QNA.CURRVAL,
		      ?,
		      ?,
		      ?,
		      8
		      )     
	
	</entry>
	
	<entry key="qnaTitleCount">
		SELECT
		     COUNT(*) COUNT
		 FROM
		     TB_QNA
		WHERE    
		     QA_TITLE LIKE '%' || ? || '%'
		  AND
		     STATUS = 'Y'
	
	</entry>
	
	<entry key="qnaContentCount">
	
		   SELECT
			     COUNT(*) COUNT
			 FROM
			     TB_QNA
			WHERE    
			     QA_CONTENT LIKE '%' || ? || '%'
			  AND
			     STATUS = 'Y'
	
	</entry>
	
	
	<entry key="qnaTitleSearch">
		SELECT
		       Q_NO,
		       QA_STATUS,
		       QA_TITLE,
		       CREATE_DATE
		   FROM(SELECT
		              Q_NO,
		              QA_STATUS,
		              QA_TITLE,
		              CREATE_DATE,
		              ROWNUM RNUM
		          FROM(SELECT
		                      Q_NO,
		                      QA_STATUS,
		                      QA_TITLE,
		                      CREATE_DATE
		                  FROM
		                      TB_QNA
		                 WHERE
		                      QA_TITLE LIKE '%' || ? || '%'
		                   AND
		                      STATUS = 'Y'
		                 ORDER
		                    BY
		                      CREATE_DATE DESC))
		  WHERE
		       RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="qnaContentSearch">
		SELECT
		       Q_NO,
		       QA_STATUS,
		       QA_TITLE,
		       CREATE_DATE
		   FROM(SELECT
		              Q_NO,
		              QA_STATUS,
		              QA_TITLE,
		              CREATE_DATE,
		              ROWNUM RNUM
		          FROM(SELECT
		                      Q_NO,
		                      QA_STATUS,
		                      QA_TITLE,
		                      CREATE_DATE
		                  FROM
		                      TB_QNA
		                 WHERE
		                      QA_CONTENT LIKE '%' || ? || '%'
		                   AND
		                      STATUS = 'Y'
		                 ORDER
		                    BY
		                      CREATE_DATE DESC))
		  WHERE
		       RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="selectQnaCount">
		SELECT
		      COUNT(*) COUNT
		  FROM
		      TB_QNA
		 WHERE        
		      STATUS = 'Y'
	
	
	</entry>
	
	<entry key="qnaList">
   SELECT
         Q_NO,
		 QA_TITLE,
		 QA_CONTENT,
		 CREATE_DATE,
		 QA_STATUS,
		 STATUS,
		 NICKNAME 
    FROM(SELECT
		      Q_NO,
		      QA_TITLE,
		      QA_CONTENT,
		      CREATE_DATE,
		      QA_STATUS,
		      STATUS,
		      NICKNAME,
		      ROWNUM RNUM
		 FROM(SELECT
		              Q_NO,
		              QA_TITLE,
		              QA_CONTENT,
		              CREATE_DATE,
		              QA_STATUS,
		              Q.STATUS,
		              NICKNAME
		          FROM
		              TB_QNA Q
		          JOIN
		              MEMBER M ON(MEM_NO = QA_WRITER)
		         WHERE
		              Q.STATUS = 'Y'
		         ORDER
		            BY
		              CREATE_DATE DESC))
		 WHERE
		      RNUM BETWEEN ? AND ?
	
	
	</entry>
	
	<entry key="selectFile">
		SELECT
			  FILE_NO,
			  ORIGIN_NAME,
			  CHANGE_NAME,
			  FILE_PATH
		  FROM
		  	  TB_FILE
	   	 WHERE
	   	 	  BOARD_NO = ?
   	 	   AND
   	 	   	  BOARD_TYPE = ?
	</entry>
	
	<entry key="attUpdate">
	    UPDATE
	          TB_FILE
	       SET
	          FILE_PATH = ?,
	          ORIGIN_NAME = ?,
	          CHANGE_NAME = ?
	    WHERE
	          BOARD_NO = ?
	     AND
	          BOARD_TYPE = ?
	
	</entry>
	
	<entry key="newAttInsert">
	INSERT
	  INTO
	  	 TB_FILE
	  	 (
		 FILE_NO,
		 BOARD_NO,
		 FILE_PATH,
		 ORIGIN_NAME,
		 CHANGE_NAME,
		 BOARD_TYPE
	  	 )
  	VALUES
	  	 (
	  	 SEQ_FILE.NEXTVAL,
	  	 ?,
	  	 ?,
	  	 ?,
	  	 ?,
	  	 ?
	  	 )
	</entry>
	
	<entry key="selectAnswer">
		SELECT
		      REPLY_NO,
		      QNA_NO,
		      REPLY_COMMENT,
		      NICKNAME,
		      REPLY_WRITER,
		      COMMENT_DATE,
		      T.STATUS
		  FROM
		      TB_ANSWER T,
		      MEMBER
		 WHERE
		      MEM_NO = REPLY_WRITER
           AND
		      QNA_NO = ?
		 ORDER
		    BY
		      COMMENT_DATE DESC
	</entry>
	
	<entry key="selectQna">
		SELECT
		      Q_NO,
		      QA_TITLE,
		      QA_CONTENT,
		      CREATE_DATE,
		      QA_STATUS,
		      STATUS,
		      QA_WRITER
		  FROM
		      TB_QNA
		 WHERE
		      Q_NO = ?
	</entry>
	
	<entry key="qnaDelete">
		DELETE
		  FROM
		      TB_QNA
		 WHERE
		      Q_NO = ?    
	</entry>
	
	<entry key="fileDelete">
		DELETE
		  FROM
	          TB_FILE
	     WHERE
	          BOARD_TYPE = 8
	       AND
	          BOARD_NO = ?     
	</entry>
	
	<entry key="replyInsert">
		INSERT
		  INTO
		      TB_ANSWER
		      (
		      REPLY_NO,
		      QNA_NO,
		      REPLY_COMMENT,
		      REPLY_WRITER,
		      STATUS
		      )
		 VALUES
		      (
		      SEQ_ANSWER.NEXTVAL,
		      ?,
		      ?,
		      ?,
		      'N'
		      )     
	</entry>
	
	<entry key="qnaReplyDelete">
		DELETE
		  FROM
		      TB_ANSWER
		 WHERE
		      QNA_NO = ?     
	</entry>
	
	<entry key="completed">
		UPDATE
		      TB_QNA
		   SET
		      QA_STATUS = 'Y'
		 WHERE
		      Q_NO = ?        
	</entry>
	
	<entry key="replyUpdate">
		UPDATE
		      TB_ANSWER
		   SET
		      REPLY_COMMENT = ?
		 WHERE
		      REPLY_NO = ?        
	</entry>
	
	<entry key="replyDelete">
		DELETE
		  FROM
	          TB_ANSWER
	     WHERE
			  REPLY_NO = ?
	</entry>
	
	<entry key="updateQna">
		UPDATE
		      TB_QNA
		   SET
		      QA_TITLE = ?,
		      QA_CONTENT = ?
		 WHERE
		      Q_NO = ?   
	
	</entry>
	
	<entry key="updateInsertFile">
		INSERT
		  INTO
		      TB_FILE
		     (
			 FILE_NO,
			 BOARD_NO,
			 FILE_PATH,
			 ORIGIN_NAME,
			 CHANGE_NAME,
			 BOARD_TYPE
		  	 )
		VALUES
		      (
		      SEQ_FILE.NEXTVAL,
		      ?,
		      ?,
		      ?,
		      ?,
		      8
		      )     
	
	</entry>
	
</properties>
