@charset "UTF-8";
		#content{
            width: 1000px;
            margin: auto;
            text-align: center;
            padding-top: 80px;
            font-size: 30px;
        }
        b{
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(10, 10, 10);
            padding-bottom: 5px;
            text-shadow: 4px 4px rgb(226, 183, 183);
        }
        #title{
            padding-bottom: 60px;
        }
        .q{
            margin: auto;
            background-color :rgba(247, 113, 113, 0.384);
            width : 600px;
            height : 25px;
            line-height : 25px;
            text-align: left;
            border : 1px solid beige;
            border-radius : 15px;
            color : black;
            font-weight : bold;
            font-size: 15px;
            padding : 13px;
            cursor : pointer;
            box-shadow: 3px 1px rgb(196, 140, 140);
        }
        .a{
            padding : 12px;
            width : 600px;
            margin: auto;
            height: 30px;
            line-height:20px;
            border : 1px solid lightpink;
            background-color : rgba(250, 55, 55, 0.089);
            color : black;
            font-weight: bold;
            font-size: 15px;
            text-align: left;
            border-radius : 15px;
            margin-bottom: 10px;
            display: none;
            box-shadow: 2px 3px rgb(196, 140, 140);
        }
        .line{
            margin: auto;
            width: 600px;
            height: 5px;
        }