@charset "UTF-8";
	#qnaMark {
		margin: auto;
		padding-top: 20px;
		height: 150px;
		width: 1000px;
		text-align: center;
		line-height: 100px;
		font-size: 30px;
		font-weight: bold;
		text-shadow: 2px 2px rgba(128, 128, 128, 0.541);
		border-bottom: 1px solid rgba(0, 0, 0, 0.208);
	}
	
	#qnaBox {
		height: auto;
		width: 1000px;
		margin: auto;
		border-radius: 5px;
	}
	
	#titleBox {
		height: 50px;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.208);
		text-align: center;
		font-size: 20px;
		font-weight: 800;
	}
	
	#titleBox>P {
		margin-top: 20px;
	}
	
	#dateBox {
		height: 100px;
		text-align: right;
		padding-right: 30px;
	}
	
	#dateBox>p {
		margin-top: 2px;
		font-size: 15px;
		font-weight: bold;
		color: rgb(70, 68, 68);
	}
	
	#downloadBox {
		height: 50px;
		width: 700px;
		margin: auto;
		text-align: left;
		font-size: 15px;
		font-weight: 1000;
		line-height: 40px;
	}
	
	#qnaText {
		width: 700px;
		height: 400px;
		margin: auto;
		padding-top: 10px;
		border: 1px solid rgb(231, 225, 225);
		word-wrap: break-word;
	}
	
	#buttonBox {
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100px;
		line-height: 100px;
	}
	
	#replyBox {
		margin: auto;
		width: 750px;
		height: 500px;
		max-height: 500px;
		overflow-y: auto;
		padding-bottom: 20px;
	}
	
	#replyText {
		width: 700px;
		height: 110px;
		margin: auto;
	}
	
	#replyText textarea {
		resize: none;
		width: 600px;
		height: 100%;
		box-sizing: border-box;
		border: 1px solid red;
		border-radius: 3px;
		font-size: 15px;
		font-weight: 400;
	}
	
	#replyText>button {
		width: 100px;
		height: 100%;
		float: right;
		background-color: red;
		border: none;
		color: white;
		font-size: 18px;
		font-weight: 1000;
		border-radius: 3px;
	}
	
	#reply:focus {
		outline: none;
	}
	
	#counter {
		font-size: 13px;
	}
	
	#replyLine {
		height: 30px;
		width: 700px;
		margin: auto;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.267);
		box-sizing: border-box;
	}
	
	#replySelect {
		width: 700px;
		height: 135px;
		margin: auto;
		box-sizing: border-box;
	}
	
	#replyAnswer {
		overflow-y: auto;
		max-height: 350px;
		padding-bottom: 20px;
	}
	
	.answer {
		width: 700px;
		margin: auto;
		height: 130px;
		box-sizing: border-box;
	}
	
	.answer a {
		position: relative;
		left: 90%;
		bottom: 50%;
		font-size: 12px;
		line-height: 100px;
		color: blue;
	}
	
	.answerTextBox {
		margin: auto;
		width: 700px;
		height: 100px;
		line-height: 70px;
		font-size: 15px;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.267);
		box-sizing: border-box;
	}
	
	.answer:last-child {
		margin-bottom: 0;
	}
	
	.answerName {
		font-size: 13px;
	}
	
	.answer a:hover {
		color: red;
	}
	
	.answerText {
		margin: auto;
		width: 650px;
		white-space: pre-wrap;
		line-height: 20px;
	}
	
	.modal {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
	}
	
	.modal_overlay {
		background-color: rgba(0, 0, 0, 0.090);
		width: 100%;
		height: 100%;
	}
	
	.modal_content {
		background-color: white;
		padding: 50px 100px;
		text-align: center;
		box-shadow: 0 10px 20px rgba(201, 169, 169, 0.998), 0 6px 6px
			rgba(201, 169, 169, 0.998);
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	h4 {
		margin: 50;
		margin-bottom: 50px;
	}
	
	.modal_content>button {
		background-color: red;
		color: white;
		border: none;
		margin-left: 10px;
		width: 60px;
		height: 30px;
	}